<launch>
<include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="realsense_right"/>
    <arg name="serial_no" value="108222250646" />
    <arg name="initial_reset" value="true" />

    <arg name="clip_distance" value="1.0"/>
    <arg name="filters" value="pointcloud,temporal"/>
    <arg name="align_depth" value="true"/>
</include>

<rosparam>
    /camera/stereo_module/laser_power: 360
</rosparam>

</launch>